In [ ]:
wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-PY0221EN-Coursera/labs/v2/INSTRUCTOR.csv

In [ ]:
import sqlite3
import pandas as pd 

#connect and create new database
conn = sqlite3.connect('STAFF.db')

table_name = 'INSTRUCTOR'
attribute_list = ['ID', 'FNAME', 'LNAME', 'CITY', 'CCODE']

file_path = '/home/project/INSTRUCTOR.csv'
#adding headeres due to lack of headers at the beggining
df = pd.read_csv(file_path, names = attribute_list)

# df.to_sql(table_name, conn, if_exists = 'replace', index=False)
# print("Table is ready")



query_statement = f"SELECT * FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)

# query_statement = f"SELECT FNAME FROM {table_name}"
# query_output = pd.read_sql(query_statement, conn)

# query_statement = f"SELECT COUNT(*) FROM {table_name}"
# query_output = pd.read_sql(query_statement, conn)

print(query_statement)
print(query_output)

# data_dict = {'ID' : [100],
#             'FNAME' : ['John'],
#             'LNAME' : ['Doe'],
#             'CITY' : ['Paris'],
#             'CCODE' : ['FR']}

# data_append=pd.DataFrame(data_dict)

# data_append.to_sql(table_name, conn, if_exists = 'append', index =False)
# print('Data appended successfully')

conn.close()

In [7]:
import pandas as pd
 
# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
 
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
 
# Using DataFrame.insert() to add a column
df.insert(3, "Age", [21, 23, 24, 21], True)
 
# Observe the result
print(df)

     Name  Height Qualification  Age
0     Jai     5.1           Msc   21
1  Princi     6.2            MA   23
2  Gaurav     5.1           Msc   24
3    Anuj     5.2           Msc   21

# FINAL EXAM OF THE COURSE

In [ ]:
import sqlite3
import pandas as pd 
from bs4 import BeautifulSoup
import requests
import xml.etree.ElementTree as ET 
from datetime import datetime
import glob
import numpy as np 

log_file = "./code_log.txt"

url = 'https://en.wikipedia.org/wiki/List_of_largest_banks'
table_attribs = ["Name", "MC_USD_Billion"]
db_name = 'Banks.db'
table_name = 'Largest_banks'
csv_path = './Largest_banks.csv'


def log_progress(message):
    
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second 
    now = datetime.now() # get current timestamp 
    timestamp = now.strftime(timestamp_format) 
    with open(log_file,"a") as f: 
        f.write(timestamp + ',' + message + '\n') 

def extract(url, table_attribs): 
    
    html_page = requests.get(url).text
    data = BeautifulSoup(html_page, 'html.parser')

    df = pd.DataFrame(columns=table_attribs) # create an empty data frame to hold extracted data 
    
    tables = data.find_all('tbody')
    rows = tables[0].find_all('tr')

    count = 0

    for row in rows:
        if count < 11:
            col = row.find_all('td')
            if len(col) != 0:
                
                data_dict = {"Name": col[1].contents[2],
                            "MC_USD_Billion": float(col[2].contents[0])}
                df1 = pd.DataFrame(data_dict, index=[0])
                df = pd.concat([df,df1], ignore_index=True)
                count+=1
        else:
            break
    return df


def transform(df):
    currency_list = df['MC_USD_Billion']
    MC_GBP_Billion = np.round([0.93 * x for x in currency_list],2)
    MC_EUR_Billion = np.round([0.8 * x for x in currency_list],2)
    MC_INR_Billion = np.round([82.95 * x for x in currency_list],2)

    df['MC_GBP_Billion'] = MC_GBP_Billion
    df['MC_EUR_Billion'] = MC_EUR_Billion
    df['MC_INR_Billion'] = MC_INR_Billion

    return df


def load_to_csv(df, csv_path):
    df.to_csv(csv_path)


def load_to_db(df, sql_connection, table_name):
    df.to_sql(table_name, sql_connection, if_exists='replace',  index=False)

def run_query(query_statement, sql_connection):
    print(query_statement)
    query_output = pd.read_sql(query_statement, sql_connection)
    print(query_output)


log_progress('Preliminaries complete. Initiating ETL process')

df = extract(url, table_attribs)

log_progress('Data extraction complete. Initiating transformation process')

df = transform(df)

log_progress('Data transformation complete. Initiating loading process')

load_to_csv(df, csv_path)

log_progress('Data saved to CSV file')

sql_connection = sqlite3.connect(db_name)

log_progress('SQL Connection initiated')

load_to_db(df, sql_connection,table_name)

log_progress('Data loaded to Database as table. Running the query')

query_statement = f"SELECT * from {table_name}"

run_query(query_statement, sql_connection)

log_progress("Process complete.")

sql_connection.close()

log_progress("Server Connection closed.")